<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
	<body>
		<%- include('partials/nav') %>

		<div id="content" class="container-fluid past-newsletters">
			<div class="container mt-4 mb-5 px-5">
				<div class="row pt-5 pb-2">
					<h2 class="mt-2">Past Contact Us Submissions</h2>
					
				</div>
				<div class="row">
					<p class="pb-3">A running archive of all contact form submissions</p>
					<p><%- console.log(forms); %></p>
				</div>
				<div class="row" style="min-height: 51vh">
					<table id="past-newsletters-table">
						<tr>
							<th style="width: 65%">Name</th>
							<th style="width: 20%">Date Uploaded</th>
							<th style="width: 15%">Link</th>
						</tr>
						<tbody>
							<% forms.forEach(function(form) {
								console.log(form);%>
								<tr>
									<td><%= form.name %></td>
									<td><%= form.date_sent %></td>
									<td>
										<button type="button" class="btn btn-primary contact_form_open" 
										id="view_form_<%= form.id %>" data-toggle="modal" data-target="#exampleModalLong">
										See more
									  	</button>
									</td>
								</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>

			
			

		</div>
		


		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="module" src="/scripts/contact-us-back.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>
