<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header') %>

	<body>
		<style>
			img {
				max-width: 100%;
				max-height: 100%;
			}
		</style>
		<%- include('partials/nav') %>

		<% if (messages.error) { %>
			<div class="alert alert-danger" role="alert"><%= messages.error %></div>
		<% } %> <% if (messages.success) { %>
			<div class="alert alert-success" role="alert">
				<%= messages.success %>
			</div>
		<% } %>

		<div class="container" style="margin-top: 100px;">
			<div class="row">
				<div class="col-12 col-xl-12">
					<h1 class="home-page-header" style="color: #474a57;">
						Contact Us
					</h1>

					<div class="discord-banner mt-5">
						<img
							class="d-none d-md-inline"
							src="/images/Discord-banner-lg.png"
							alt=""
						/>
						<img
							class="d-inline d-md-none"
							src="/images/Discord-banner.png"
							alt=""
						/>
					</div>

					<a
						href="https://discord.gg/gtdEGTZ"
						class="btn btn-primary btn-discord px-md-3 py-md-2"
						target="_blank"
						>Join the server</a
					>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-8">
					<h2 class="form-header-primary text-center">
						Specific Questions, Comments, or Concerns?
					</h2>
					<h3 class="form-header-secondary">
						We'll get back to you as soon as we can!
					</h3>

					<form id="frm" class="my-5" action="/contact-us" method="POST">
						<div class="form-group">
							<label class="font-weight-bold" for="txtName">Name</label>
							<input
								type="text"
								class="form-control default"
								id="txtName"
								name="txtName"
								placeholder="Full Name"
							/>
						</div>

						<div class="form-group">
							<label class="font-weight-bold" for="txtEmail">Email</label>
							<input
								type="email"
								class="form-control default"
								id="txtEmail"
								name="txtEmail"
								placeholder="you@aggiesama.com"
							/>
						</div>

						<div class="form-group">
							<label class="font-weight-bold" for="txtCompany"
								>Company/Group</label
							>
							<input
								type="text"
								class="form-control default"
								id="txtCompany"
								name="txtCompany"
								placeholder="Your Company"
							/>
						</div>

						<div class="form-group">
							<label class="font-weight-bold" for="txtMessage">Message</label>
							<textarea
								class="form-control default"
								id="txtMessage"
								name="txtMessage"
								rows="5"
								placeholder="Your message"
							></textarea>
						</div>

						<button type="submit" class="btn btn-primary btn-contact-us">
							Send Message
						</button>
					</form>
				</div>
			</div>
		</div>

		<%- include('partials/footer') %>
		<script src="/scripts/contact-us.js"></script>
	</body>
</html>
