<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header') %>

	<body>
		<%- include('partials/nav') %>

		<div class="jumbotron" style="background: transparent !important;">
			<div id="content" class="container">
				<div class="row">
					<div class="col-12 col-md-6">
						<h1 class="home-page-header">
							Aggie Society for Anime and Manga Art
						</h1>
						<p class="lead mt-3">
							Aggie-SAMA is a society for the study, appreciation, and
							production of Japanese Anime and Manga. We study existing works in
							the field with the intent of sharing & widening our perspective of
							the style. We also encourage artists, writers, and others creators
							involved in the development of this art form to pursue improvement
							of their art form.
						</p>

						<a
							class="btn btn-primary custom-btn btn-lg mt-3"
							href="#"
							role="button"
						>
							Meetings Calendar
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="events-background">
			<div class="container py-5">
				<div class="row justify-content-between">
					<div class="col-12 col-lg-5">
						<h2 class="home-page-header">Upcoming Events</h2>

						<!-- Foreach event -->
						<div class="row mt-5">
							<div class="col-2">
								<div class="date-container">8/30</div>
							</div>
							<div class="col-10 pl-4">
								<h3 class="event-title">
									Super Duper Long Event Title -
									<span style="color: #8c30f5;">August 30th, 7pm</span>
								</h3>
								<p class="event-text">
									Announcement content; announcement content;announcement
									content;announcement content;announcement content;announcement
									content;
								</p>
							</div>
						</div>
						<!-- End foreach -->

						<a class="event-link text-center" href="/events"
							>See all upcoming events <i class="fas fa-arrow-right ml-2"></i
						></a>
					</div>
					<div class="col-12 col-lg-5 text-center">
						<h2
							id="hAnnouncements"
							class="home-page-header text-center mt-5 mt-lg-0"
						>
							Announcements
						</h2>

						<% if (data.announcements) {%> <%
						data.announcements.forEach(function (announcement) { const
						createDate = new
						Date(announcement.create_date).toLocaleDateString('en-US', {month:
						'numeric', day: 'numeric'}) %>
						<div class="row mt-5">
							<div class="col-12">
								<h3 class="announcement-title">
									<span style="color: #8c30f5;"><%= createDate%></span>
									- <%= announcement.subject %>
								</h3>
								<p>
									<%= announcement.body %>
								</p>
							</div>
						</div>
						<% }); } %>

						<a class="event-link text-center" href="/discord"
							>See all announcements on Discord
							<i class="fas fa-arrow-right ml-2"></i
						></a>
					</div>
				</div>
			</div>
		</div>

		<div class="About-Us-Background">
			<div class="container About-Us">
				<h2 class="py-5 home-page-header">About Us</h2>
				<div class="row">
					<div class="col-md-4 flex-column">
						<h2>Weekly Meetings</h2>
						<p class="pb-2">
							<strong>Anime</strong> - watching classic and new shows through
							continuous and themed showings
						</p>
						<p class="pb-2">
							<strong>General</strong>-get to know other members through
							anime/manga themed games and discussions
						</p>
						<p class="pb-2">
							<strong>Art</strong> - creating and sharing all things art in a
							chill environment
						</p>
						<a href="/#">Events Calendar <i class="fas fa-arrow-right"></i></a>
					</div>
					<div class="col-md-4 flex-column">
						<h2>Social Events</h2>
						<p class="pb-2">
							On top of our weekly meet-ups, we host a variety of social events.
							This includes convention trips, anime movie premieres, festivals,
							themed-parties, diners, camping adventures, and much more!
						</p>
						<a href="/#">Our Events <i class="fas fa-arrow-right"></i></a>
					</div>
					<div class="col-md-4 flex-column">
						<h2>Connect</h2>
						<p class="pb-4">
							Join our Discord Server to stay in touch, and check out the rest
							of the website for more details and information!
						</p>
						<a href="#">Join our Discord <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
		<script src="/scripts/index.js"></script>
		<!-- <%- include('partials/footer') %> -->
	</body>
</html>
