<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
    <link rel="stylesheet" href="/styles/weekly-meeting-page.css" />
    <body>
        <%- include('partials/nav') %>

            <div id="content" class="container">
                <div class="d-flex flex-row py-3">
                    <div class="col-sm-12 gray-text">
                        <h1 class="division-title">Meetings and Events</h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid weekly-meetings">
                <div class="container text-center pt-4 pb-1">
                    <h1 class="pt-4 purple-text font-weight-bold">Weekly Meetings</h1>
                    <p>
                        Our weekly slate of meetings and events - come and check them out!
                    </p>
                </div>
                <div class="row justify-content-center">
                    <% meetings.forEach((meeting) => { %>
                        <div class="col meeting-item">
                            <div class="chatbox text-center">
                                <h4 class="py-4"><%- meeting.name %></h4>
                                <p class="mx-4 my-auto h-75"><%- meeting.description %> </p>
                            </div>
                            <div class="text-center mb-5">
                                <h5 class="font-weight-bold"><%- meeting.day %>, <%- meeting.time %> </h5>
                                <% if (meeting.link) { %>
                                    <h6>Access <a href="https://www.<%- meeting.link %>" class="purple-text"><u>here</u></a></h6>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>

            <div class="container-fluid past-events-and-socials">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-5 col-sm-12">
                        <h1 class="division-title text-center p-4"><b>Past Events & Socials</b></h1>
                    </div>
                    <div class="col-lg-3 col-sm-0"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-8">
                        <div class="container px-5 text-center">
                            <p>
                                Outside of our weekly meetings, we host a variety of social events and special trips. Check out what we've done in the past below, and let us know if you'd like to see any of these events on our schedule again!
                            </p>
                            <div class="pb-3 my-4">
                                <a href="" class="font-weight-bold purple-text">Let us know on Discord &rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-auto">
                        <div class="event-list">
                            <% event_map.forEach(function(obj) { %>
                                <% type = obj.type; events = obj.events; %>
                                <div class="row trip">
                                    <div class="circle mx-3">
                                        <% if(type.img !== '') { %>
                                        <img src="<%- type.img %> "></img>
                                        <% } %>
                                    </div>
                                    <div class="col allTrips">
                                        <h5><%- type.name %></h5>
                                        <% events.forEach((event) => { %>
                                            <p><%- event.name %> </p>
                                        <% }); %>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>

            <script src="/scripts/template.js"></script>
            <%- include('partials/footer') %>

    </body>

</html>
