<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
	<link rel="stylesheet" href="/styles/newsletter-portal.css" />
	<body >
		<%- include('partials/portal-nav') %>
			<div id="content" class="container mx-auto" style="min-height: 90vh">
				<!-- upload newsletter -->
				<div class="row">
					<div class="col-12 d-flex flex-row my-4 py-5">
						<div class="col-12 text-center">
							<h2 class="">Newsletter portal</h2>
							<%- include('partials/newsletter-upload-form') %>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-12 d-flex flex-row my-4 py-5 justify-content-center">
						<div class="text-center">
							<h2 class="">Newsletters</h2>
							<table class="table table-bordered table-striped">
								<thead class="thead-light">
									<tr>
										<th scope="col">News Title</th>
										<th scope="col">Date Uploaded</th>
										<th scope="col">Link</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<% newsletters.forEach(function(newsletter) { %>
										<tr>
											<td >
												<%= newsletter.name %>
											</td>
											<td>
												<%= moment(newsletter.date_uploaded).format('MM/DD/YYYY') %>
											</td>
											<td>
												<a href=<%='http://' + hostname + ':8080/' + newsletter.link%> target="_blank">Open</a>
											</td>
											<td class="d-flex justify-content-center border-0">
												<button class="btn btn-danger float-right deleteBtn"
													id="deleteBtn<%= newsletter.id %>" type="submit">
													Delete
												</button>
												<script>
													//Set delete function
													document.getElementById("deleteBtn<%=newsletter.id%>").addEventListener('click', function () {
														$.ajax({
															type: 'DELETE',
															url: '/portal/newsletter/delete/<%=newsletter.id%>',
															contentType: 'application/json'
														})
														//delete the parents' parent element
														document.getElementById("deleteBtn<%=newsletter.id%>").parentElement.parentElement.remove();
													});
												</script>
											</td>
										</tr>
										<% }); %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- display newsletters -->

			</div>

			<%- include('partials/footer') %>
	</body>
</html>