<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<link rel="stylesheet" href="/styles/officers.css" />
	<body>
		<%- include('partials/nav') %>
        <div id="content" class="container">
            <div class="d-flex flex-row py-3">
                <div class="col-sm-12 gray-text">
                    <h1 class="division-title">Officer Team</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid px-5">
            <!-- for president -->
            <div class="row">
                <div class="col-lg-4">
                    <!-- Photo -->
                    <div class="circle presi-photo">
                        <img class="shape" src="https://pbs.twimg.com/media/C_H05o7UIAADguQ.jpg">
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- Introduction -->
                    <div class="officer-title">President</div>
                    <div class="officer-name">Timothy Nguyen</div>
                    <div class="officer-intro">
                        <p>Howdy!</p>
                        <p>My name is Tim and I'm a Computer Science Major. I've spent wayyy too much money on merch and I regret (almost) nothing.</p>
                        <p>Hope to see you all at one of the meetings or socials.</p>
                    </div>                        
                </div>
            </div>

            <div class="row">
                <% officers.forEach(function (officer){ %>
                    <div class="col-lg-6">
                        <!-- Photo -->
                        <div class="circle other-photo">
                            <img class="shape" src="/<%= officer.profilePic.replace('public/', '') %>">
                        </div>
                        <!-- Introduction -->
                        <div class="officer-title"><%= officer.officerRole %></div>
                        <div class="officer-name"><%= officer.name %></div>
                        <div class="officer-intro">
                            <p><%= officer.bio %></p>
                        </div>  
                    </div>
                <% }); %>
            </div>
            
        </div>

		<script src="/scripts/template.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>
