<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
	<link rel="stylesheet" href="/styles/officer-portal.css" />
	<body>
		<%- include('partials/nav') %>

		<div id="content" class="container mx-auto mt-5">
			<div class="d-flex flex-row flex-wrap mt-4 pt-5 justify-content-center">
				<% officers.forEach(function(officer) { %>
					<%- include('partials/officer-form', {officer: officer, id: officer.id, create:false}) %>
				<% }); %>
			</div>
			<div class="mx-auto my-5 text-center">
				<button class="btn btn-success btn-lg addOfficerBtn">+ Add Officer</button>
			</div>
			<%- include('partials/officer-form', {officer:{name:'', profilePic:' ', role:'', bio:''}, id:'', create:true}) %>
		</div>

		<script src="/scripts/officer-portal.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>